<table id="main-table">
  <tr>
    <td colspan="2">
      <div class="login">
        <output>{{name}}</output>
        <br>
        <br>
        <p-button id="exit" icon="pi pi-sign-out" label="Logout" class="button" (click)="onExit()"> </p-button>
      </div>
    </td>
  </tr>
  <tr>
    <th class="title-plate">Визуализация</th>
  </tr>
  <tr>
    <td class="image-container" colspan="2">
      <canvas id="plot" width="320" height="320" #canvas>Интерактивная область графика</canvas>
    </td>
  </tr>
  <tr>
    <th class="title-plate">Ввод данных</th>
  </tr>
  <tr>
    <td class="content-plate" colspan="2">
      <form id="former">
        <table id="input-grid">
          <tr>
            <td>
              Введите X:{{point.x}}
            </td>
            <td>
              <div class="slide-container">
                <p-slider [min]="-5" [max]="3" [step]="0.1" [(ngModel)]="point.x" name="x" class="p-slider"></p-slider>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              Введите Y:{{point.y}}
            </td>
            <td>
              <div class="slide-container">
                <p-slider [min]="-5" [max]="5" [step]="0.1" [(ngModel)]="point.y" name="y" class="p-slider"></p-slider>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Выберите R:{{point.r}}
            </td>

            <td>
              <div class="slide-container">
                <p-slider [min]="-5" [max]="3" [step]="1" [(ngModel)]="point.r" name="r" class="p-slider" (onChange)="loadTablePoints()"></p-slider>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p-button id="send" icon="pi pi-check-circle" label="Submit" class="button sender" value="submit" (click)="onSubmit()"> </p-button>
            </td>
            <td>
              <p-button id="clear" icon="pi pi-trash" label="Clear" class="button" value="clear" (click)="onClear()"> </p-button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div [hidden]="isValid" class="text-error">Не корректный ввод</div>
              <div [hidden]="isValidR" class="text-error">Не корректный радиус</div>
            </td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
  <tr>
    <th class="title-plate" colspan="2">Результат</th>
  </tr>
  <tr>
    <td colspan="2">
      <p-table [value]="points" [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="x">X <p-sortIcon></p-sortIcon></th>
            <th pSortableColumn="y">Y <p-sortIcon></p-sortIcon></th>
            <th pSortableColumn="r">R <p-sortIcon></p-sortIcon></th>
            <th pSortableColumn="h">Hit <p-sortIcon></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data sortMode="multiple">
          <tr>
            <td>{{ data.x }}</td>
            <td>{{ data.y }}</td>
            <td>{{ data.r }}</td>
            <td>{{ data.h }}</td>
          </tr>
        </ng-template>
      </p-table>
    </td>
  </tr>
</table>
