/* You can add global styles to this file, and also import other style files */
body {
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

#main-table {
  width: 95%;
  margin: auto;
  border-spacing: 1em;
}

#header-plate {
  padding: 1%;
  font-size: 20px;
  color: #ffffff;
  background-color: #440086FF;
}

.content-plate {
  padding: 0 0 2%;
  vertical-align: center;
  horiz-align: center;
  background-origin: border-box;
}

.title-plate {
  font-size: 18px;
  font-weight: normal;
  background-color: #c8b5e9;
  border-radius: 25px;
}

.image-container {
  text-align: center;
  resize: both;
}

#input-grid {
  width: 95%;
  margin: auto;
  text-align: center;
  border-spacing: 15px;
}

input[type=radio]{
  display: inline-block;
  cursor: cell;
  position: relative;
  margin-right: 0.5%;
}

.y-textinput {
  width: 75%;
  height: 20px;
  margin: 2% 0;
}

#r-value {
  width: 75%;
  margin: auto;
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.text-error {
  border: 1px solid #ff0000;
}

.buttons::before {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 0 auto 4%;
  background-color: #FFD400FF;
}

.button {
  height: 27px;
  width: 90px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  background-color: #FFD400FF;
  border: none;
}

.button:hover {
  background-color: #a98e03;
}

#table-plate {
  position: relative;
}

.result-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.result-table tr {
  height: 2em;
}

.result-table tr:nth-child(2n-1) {
  background-color: #a25fd0;
}

.result-table tr:nth-child(2n):hover {
  background-color: #e9e9e9;
}

.result-table tr:nth-child(2n-1):hover {
  background-color: #bbaad8;
}

.result-table tr.table-header:hover {
  background-color: #c8b5e9;
}

.coords-col {
  width: 12%;
}

.time-col {
  width: 25%;
}

/*JSF*/

#page{
  width: calc(100% - 40px);
  margin: 10px 0px 10px 20px;
}

.header{
  padding: 1%;
  font-size: 20px;
  color: #ffffff;
  background-color: #440086FF;
}

#content{
  width: 100%;
  min-height:200px;
  margin-bottom:10px;
  border: 1px solid #ddd;
}

#footer{
  width: 100%;
  height:60px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.list-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 5px;
}

.r-item {
  display: inline;
}

.r-button {
  border: 2px solid #6c43af;
}

.r-button:hover {
  background-color: #b292e5;
}

.list-x {
  width: 75%;
  margin: auto;
  text-align: center;
}

.r_clicked {
  border: 8px solid #6c43af;
}

.r-hide {
  border: 1px #a25fd0;
}
